.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--basic-color);
}
