.footer {
  background: rgba(62, 59, 59, 0.88);
  width: 100%;
  padding: 40px 100px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media__list {
  max-width: var(--max-width);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-media__lis__img {
  margin-bottom: 20px;
}

@media (min-width: 480px) {
  .social-media__list {
    flex-direction: row;
  }

  .social-media__lis__img {
    margin-bottom: 0;
  }
}
